<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="http://fantastic-web.net/chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div id="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;">

</div>
<form id="form" action="" onsubmit='return false'>
    <input id="field" type="text" style="width:350px;"/>
    <input id="send" type="submit" value='Послать'/>
</form>
</body>
</html>